{
    "plugins": [ 
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties", 
        "@babel/proposal-object-rest-spread"
    ],
    "presets": [["@babel/preset-env", {
    "useBuiltIns": "usage", // or "entry"
    "corejs": 3,
    }], 
    "@babel/preset-typescript",
    "@babel/preset-react"
    ],
}